.v-card-container{
    background-color: white;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content:flex-start;
    width: 80%;

    .v-card-left{
        height: 100%;
        .v-thumbnail{
            height: 100%;

        }
    }

    .v-card-right{
        height: 100%;
        padding: 5px 10px 5px 20px;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        width: 80%;

        *{
            padding: 5px 0px;
            color: rgb(43, 43, 43);
        }
        .v-title{
            color: black;
        }
        .v-published{
            font-size: small;
        }

        .v-channel{
            font-size: medium;
        }

        .v-description{
            font-size: small;
        }
    
    }
}